<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>
  
  <arg name="site_name" default="riseholme" />
  <arg name="datum_file" default=""/>

  <arg name="gps_error_mask_std" default="0.1" />

  <rosparam command="load" file="$(arg datum_file)" />


  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
    <!-- Input remapping -->
    <remap from="imu/data" to="yaw"/> 
    <remap from="odometry/filtered" to="odometry/gps"/>
    <remap from="gps/fix" to="gps/fix"/>
    <!-- Output remapping -->
    <remap from="odometry/gps" to="odometry/gps/unfiltered"/>
  </node>


  <!-- GPS mask for high error data (we tend to be better off just ignoring it) -->
  <node pkg="mel_amcl" type="gps_odom_mask.py" name="gps_odom_mask" clear_params="true">
    <remap from="odometry/gps" to="odometry/gps/unfiltered"/>
    <param name="gps_error_mask_std" value="$(arg gps_error_mask_std)"/>
  </node>


  <!-- load parameters for eKF -->
  <rosparam command="load" file="$(find mel_amcl)/config/mapping_with_rtk.yaml" />


  <!-- eKF for the odom frame using gps - we only use odom frame for mapping - but use GPS data. 
       Gmapping makes map frame - But should equal odom!!!. -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local" clear_params="true">
    <remap from="odometry/filtered" to="odometry/gps"/>
    <remap from="odometry/gps" to="odometry/gps/mask"/>
    <remap from="/yaw" to="/yaw/mask"/>
  </node>


</launch>
